*

!.gitignore
!README.md

!.clang-format

!go.mod
!go.sum

!campaigns/
!campaigns/*.yaml

!campaigns/trees/
!campaigns/trees/*.yaml

!results/
!results/.gitkeep

!proto/
!proto/plugin.proto

!plugins/
!plugins/**

!cmd/
!cmd/**

!internal/
!internal/**

!pkg/

!pkg/plugabi/
!pkg/plugabi/orca_plugin_abi.h

!pkg/plugpb/
!pkg/plugpb/generate.go
