*

!.gitignore
!README.md

!.clang-format

!go.mod
!go.sum
!go.work
!go.work.sum

!campaigns/
!campaigns/*.yaml
!campaigns/trees/
!campaigns/trees/*.yaml

!modules/
!modules/**

# Kraken
!kraken/
!kraken/main.go
!kraken/internal/
!kraken/internal/**

!kraken/pkg/
!kraken/pkg/plugabi/
!kraken/pkg/plugabi/orca_plugin_abi.h
!kraken/pkg/plugabi/orca_plugin_abi_v2.h
!kraken/pkg/plugpb/
!kraken/pkg/plugpb/generate.go
!kraken/pkg/plugpb/plugin.proto

# Siren
!siren/
!siren/*

# Trident
!trident/
!trident/**
