*

!.gitignore
!.Justfile
!README.md

!ethercat_afl/
!ethercat_afl/run.sh
!ethercat_afl/shim.h
!ethercat_afl/shim.cc
!ethercat_afl/harness.cc
!ethercat_afl/Dockerfile
!ethercat_afl/my_output/
!ethercat_afl/my_output/.gitkeep

!soem_afl/
!soem_afl/run.sh
!soem_afl/harness.cc
!soem_afl/Dockerfile
!soem_afl/my_output/
!soem_afl/my_output/.gitkeep


