name: Release

on:
    push:
        tags:
            - "v*.*.*"

    workflow_dispatch:

jobs:
    build:
        name: "Build and Release"
        runs-on: ubuntu-latest

        strategy:
            matrix:
                goos: [linux, darwin, windows]
                goarch: [amd64, arm64]
                exclude:
                    - goos: darwin
                      goarch: arm64
        env:
            APP_NAME: kraken

        steps:
            - uses: actions/checkout@v5

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "1.21"

            - name: Generate protobuf
              run: |
                  go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
                  go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

                  cd ./kraken/pkg/plugpb/
                  protoc -I . --go_out=. --go-grpc_out=. ./plugin.proto

            - name: Build binaries
              run: |
                  mkdir -p dist
                  for GOOS in ${{ matrix.goos }}; do
                    for GOARCH in ${{ matrix.goarch }} do
                        OUT_NAME=$ {{ env.APP_NAME }}-${GOOS}-${GOARCH}
                        EXT=""
                        if [ "$GOOS" == "windows" ]; then EXT=".exe"; fi
                        GOOS=$GOOS GOARCH=$GOARCH go build ./kraken/main.go -o dist/${OUT_NAME}_kraken${EXT} .
                        GOOS=$GOOS GOARCH=$GOARCH go build ./siren/main.go -o dist/${OUT_NAME}_siren${EXT} .
                    done
                  done

            - name: Archive release files
              run: |
                  cd dist
                  for file in *; do
                    zip "${file%.exe}.zip" "$file"
                    rm "$file"
                  done

            - name: Create Github release
              uses: softprops/action-gh-release@v2
              with:
                  files: dist/*.zip
