name: Release

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        name: Build and Release (${{ matrix.goos }} / ${{ matrix.goarch }})
        runs-on: ubuntu-latest
        strategy:
            matrix:
                goos: [linux, darwin, windows]
                goarch: [amd64, arm64]
                exclude:
                    - goos: darwin
                      goarch: arm64
        env:
            APP_NAME: kraken

        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.21"

            - name: Install protoc
              run: |
                  sudo apt-get update
                  sudo apt-get install -y protobuf-compiler

            - name: Install protobuf generators
              run: |
                  go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
                  go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
                  echo "$HOME/go/bin" >> $GITHUB_PATH

            - name: Generate protobuf
              working-directory: ./kraken/pkg/plugpb
              run: |
                  protoc -I . --go_out=. --go-grpc_out=. ./plugin.proto

            - name: Build binaries
              run: |
                  mkdir -p dist
                  GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o dist/${{ env.APP_NAME }}-${{ matrix.goos }}-${{ matrix.goarch }}_kraken$( [ "${{ matrix.goos }}" = "windows" ] && echo .exe ) ./kraken/main.go
                  GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o dist/${{ env.APP_NAME }}-${{ matrix.goos }}-${{ matrix.goarch }}_siren$( [ "${{ matrix.goos }}" = "windows" ] && echo .exe ) ./siren/main.go

            - name: Archive release files
              working-directory: dist
              run: |
                  for file in *; do
                    zip "${file%.exe}.zip" "$file"
                  done

            - name: Create GitHub release
              uses: softprops/action-gh-release@v2
              with:
                  files: dist/*.zip
